body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    margin: 20px auto;
}
input, button {
    padding: 10px;
    font-size: 16px;
}
.page {
    border: 2px solid #ccc;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none; /* Páginas inicialmente ocultas */
}
.page.active {
    display: block; /* Página ativa visível */
}
.caixinhas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; /* Reduz o espaço entre as caixinhas */
}
.caixinha {
    width: 156px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, #fae0e6, #dd8944); /* Fundo gradiente */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}
.caixinha::before{
    content: "Bilhete dos Amigos";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    font-weight: bold;
    /* background: #fff; */
    padding: 2px 5px;
    white-space: nowrap;
}
.numeros {
    font-size: 14px;
    font-weight: 800;
    background: url('../img/onca2.png') no-repeat center;
    background-size: contain; /* Ajusta o tamanho da imagem */
    border-radius: 5px;
    margin: 5px 0;
    width: 68%;
    text-align: center;
    color: #000; /* Garante a legibilidade do texto */
    position: relative;
}
.telefone {
    font-size: 9px;
    font-weight: 800;
    color: #000;
    text-align: center;
}
.qr-code {
    position: absolute;
    /* bottom: 10px; */
    right: 5px;
    width: 30px;
    height: 30px;
}
.subtitulo {
    margin-top: 5px;
    font-size: 9px;
    text-align: center;
    white-space: pre-line;
    font-weight: 700;
    color: #610d0d;
}
.pagination {
    margin: 20px;
}
.pagination button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    .container, .pagination {
        display: none; /* Oculta elementos de controle */
    }
    .page {
        display: block; /* Exibe todas as páginas */
        page-break-after: always; /* Quebra de página após cada página */
    }
    .caixinhas {
        grid-template-columns: repeat(4, 1fr); /* Mantém o layout 4x4 */
    }
    .caixinha{
        background: linear-gradient(to bottom, #fae0e6, #dd8944); /* Fundo gradiente */
        -webkit-print-color-adjust: exact; /* Garante que as cores sejam exibidas na impressão */
        border-radius: 8px; /* Bordas arredondadas */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    }

    .numeros {
        background: url('../img/onca2.png') no-repeat center !important;
        background-size: contain !important;
        -webkit-print-color-adjust: exact; /* Força o navegador a imprimir as cores exatas */
        print-color-adjust: exact;
    }
}
